<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Remark</title>
    <style type="text/css">
      @font-face {
        font-family: 'Droid Serif';
        font-style: normal;
        font-weight: 400;
        src: local('Droid Serif'), local('DroidSerif'), url(DroidSerif.ttf) format('truetype');
      }
      @font-face {
        font-family: 'Yanone Kaffeesatz';
        font-style: normal;
        font-weight: 400;
        src: local('Yanone Kaffeesatz Regular'), local('YanoneKaffeesatz-Regular'), url(YanoneKaffeesatz.ttf) format('truetype');
      }

      body {
        font-family: 'Droid Serif';
        font-size: 20px;
      }
      h1, h2, h3 {
        font-family: 'Yanone Kaffeesatz';
        font-weight: 400;
        margin-bottom: 0;
      }
      h1 { font-size: 4em; }
      h2 { font-size: 2em; }
      h3 { font-size: 1.6em; }
      .footnote {
        position: absolute;
        bottom: 3em;
      }
      li p { line-height: 1.25em; }
      .red { color: #fa0000; }
      .white { color: #FFF; }
      .large { font-size: 2em; }
      a, a > code {
        color: #268bd2;
        text-decoration: none;
      }
      code {
        -moz-border-radius: 5px;
        -web-border-radius: 5px;
        background: #e7e8e2;
        border-radius: 5px;
        font-size: 18px;
      }
      .pull-left {
        float: left;
        width: 47%;
      }
      .pull-right {
        float: right;
        width: 47%;
      }
      .pull-right ~ p {
        clear: both;
      }
      #slideshow .slide .content code {
        font-size: 0.8em;
      }
      #slideshow .slide .content pre code {
        font-size: 0.9em;
        padding: 15px;
      }
      .inverse {
        background: #272822;
        color: #777872;
        text-shadow: 0 0 20px #333;
      }
      .inverse h1, .inverse h2 {
        color: #f3f3f3;
        line-height: 0.8em;
      }

      /* Slide-specific styling */
      #slide-inverse .footnote {
        bottom: 12px;
        left: 20px;
      }
      #slide-how .slides {
        font-size: 0.9em;
        position: absolute;
        top:  151px;
        right: 140px;
      }
      #slide-how .slides h3 {
        margin-top: 0.2em;
      }
      #slide-how .slides .first, #slide-how .slides .second {
        padding: 1px 20px;
        height: 90px;
        width: 120px;
        -moz-box-shadow: 0 0 10px #777;
        -webkit-box-shadow: 0 0 10px #777;
        box-shadow: 0 0 10px #777;
      }
      #slide-how .slides .first {
        background: #fff;
        position: absolute;
        top: 20%;
        left: 20%;
        z-index: 1;
      }
      #slide-how .slides .second {
        position: relative;
        background: #fff;
        z-index: 0;
      }

      /* Two-column layout */
      .left-column {
        color: #777;
        width: 20%;
        height: 92%;
        float: left;
      }
        .left-column h2:last-of-type, .left-column h3:last-child {
          color: #000;
        }
      .right-column {
        width: 75%;
        float: right;
        padding-top: 1em;
      }
      .column { padding-right: 2%; width: 48%; float:left; }
      .column25 { text-align: right; padding-right: 4%; width: 21%; float:left; }
      .column75 { padding-right: 3%; width: 72%; float:left; }

    </style>
  </head>
  <body>
    <textarea id="source">
name: inverse
layout: true
class: center, middle, inverse

---

#Installing Software
#with Smithy

Follow along at [http://anthonydigirolamo.github.io/smithy/slides.html](http://anthonydigirolamo.github.io/smithy/slides.html)

---

layout: false
class: inverse

# Agenda

.column25[.white[
## Time
9:00 - 9:30

9:30 - 10:00

10:00 - 11:00

11:00 - 12:00

12:00 - 1:00

1:00 - 2:00

2:00 - 3:00
]]

.column75[.white[
## Topic
Quick review of existing software install procedures using build scripts

Into to software installs using formulas

Writing your own formulas

Lunch

Writing and testing modulefiles

Documenting software installations on the OLCF website

Software installation help for attendees. During this time I can help get attendees up and running with any software installs that need performing. Need to get something installed?  We will work together to get it done.
]]

---

template: inverse
## Time to reinstall our code...

--

## The one with the horrible build process?

--

## Let the grad student do it.

---

layout: false
.left-column[
  ## What is it?
]
.right-column[

Smithy is a command line software installation tool that borrows ideas heavily
from the excellent [homebrew](http://brew.sh/) package management system for Mac
OS X and [SWTools](http://www.olcf.ornl.gov/center-projects/swtools/).

]

---

.left-column[
  ## What is it?
  ## Why use it?
]
.right-column[

Smithy is a command line software installation tool that borrows ideas heavily
from the excellent [homebrew](http://brew.sh/) package management system for Mac
OS X and [SWTools](http://www.olcf.ornl.gov/center-projects/swtools/).

Smithy is designed to sanely manage many software builds within a
shared [HPC](http://en.wikipedia.org/wiki/High-performance_computing)
Linux environment using [modulefiles](http://modules.sourceforge.net/) to load
software into a user's shell.
Software builds are created with a few conventions:

- Everything is organized into architecture or OS directores, e.g. redhat6 or sles11

- Prefixes are defined by their name, version, and build name

- Software is loaded into the shell using [modulefiles](http://modules.sourceforge.net/)

- Builds are performed by [build scripts](http://anthonydigirolamo.github.io/smithy/smithy.1.html#BUILD-SCRIPTS) or [formulas](http://anthonydigirolamo.github.io/smithy/smithy.1.html#FORMULAS)

]

---

template: inverse

## How does it work, then?

---

.left-column[
## Installation Methods
### - Build scripts
]
.right-column[
Shell scripts that live inside of a package's PREFIX and execute the steps
required to perform the compilation.

#### rebuild
```bash
#!/bin/bash
# Load environment and modules
source $SMITHY_PREFIX/remodule

cd $SMITHY_SOURCE
make clean
run ./configure --prefix=$SMITHY_PREFIX
run make
run make install
```
#### remodule
```bash
#!/bin/bash
# Load module environment
source ${MODULESHOME}/init/bash
# Set source directory
export SMITHY_SOURCE=$SMITHY_PREFIX/source
module unload PrgEnv-gnu PrgEnv-pgi PrgEnv-cray PrgEnv-intel PrgEnv-pathscale
module load PrgEnv-gnu
```

]

---

.left-column[
## Installation Methods
### - Build scripts
]
.right-column[
Separate scripts for each build must be maintained.
```bash
/sw/xk6/petsc/
├── 3.3
│   ├── cle4.0_gnu4.7.1
│   │   ├── rebuild
│   │   ├── remodule
│   │   └── retest
│   ├── cle4.0_gnu4.7.1_64indices
│   │   ├── rebuild
│   │   ├── remodule
│   │   └── retest
│   └── modulefile
│       └── petsc
│           └── 3.3
└── 3.3-debug
    ├── cle4.0_gnu4.7.1
    │   ├── rebuild
    │   ├── remodule
    │   └── retest
    ├── cle4.0_gnu4.7.1_64indices
    │   ├── rebuild
    │   ├── remodule
    │   └── retest
    └── modulefile
        └── petsc
            └── 3.3-debug
```
]

---

.left-column[
## Installation Methods
### - Build scripts
### - Formulas
]
.right-column[
```ruby
class GitFormula < Formula
  homepage "https://git-core.googlecode.com/"
  url "https://git-core.googlecode.com/files/git-1.8.3.4.tar.gz"
  sha1 "fe633d02f7d964842d7ea804278b75120fc60c11"

  depends_on "curl"

  module_commands [ "purge" ]

  def install
    module_list
    system "./configure", "--prefix=#{prefix}",
      "--with-curl=#{curl.prefix}"
    system "make"
    system "make install"
  end

  modulefile <<-MODULEFILE.strip_heredoc
    #%Module
    proc ModulesHelp { } {
       puts stderr "<%= @package.name %> <%= @package.version %>"
    }
    module-whatis "<%= @package.name %> <%= @package.version %>"
    set PREFIX <%= @package.prefix %>
    prepend-path PATH      $PREFIX/bin
    prepend-path MANPATH   $PREFIX/share/man
  MODULEFILE
end
```
]

???

Formulas are a single file written in ruby that define how to install a piece of
software. They can be more dynamic than build scripts and contain everything
required to build an application.

---

# Why bother with formulas?

### Consolidate Knowledge

- The knowledge of how to build software is spread out over many people. Everyone
is an expert in just a few builds.

- Build steps are not always obvious from reading build scripts. Patches to
Makefiles or new configuration files aren't always captured.

- Build scripts are spread out all over the file system. Formulas are a single
file located in one place.

### Maintainability

- The number of software installs only increases. It's rare that we can ever delete
a supported package.

- Formulas can be [stored under version control](https://github.com/AnthonyDiGirolamo/smithy_formulas)

---

# Why bother with formulas?

### Ease of re-installation

Properly written formulas can make accommodations to the host operating system
and compilers. Installing the [hdf5
formula](https://github.com/AnthonyDiGirolamo/smithy_formulas/blob/master/hdf5_formula.rb)
on our cray and clustered systems can be accomplished by running a formula
install command and changing the build name to include the desired compiler.

### Better Productivity

Since I began writing software installs using formulas I've been able to
increase the number of installations I've performed over the last two years.

```bash
Period              Installs by me   Total Installs
2011/09 - 2012/02   47               200
2012/03 - 2012/08   62               140
2012/09 - 2013/02   80               246
2013/03 - 2013/09   129              284
```

---

template: inverse
# Build Script Installation
### a quick review

---

## Naming Software Builds

Software builds following name format: **APPLICATION / VERSION / BUILD**

### APPLICATION

The name using lowercase characters

### VERSION

Numbers with periods or dates, use 2013-02-14 instead of Feb14-2013.

### BUILD

Build features are separated by underscores `_`. They typically denote operating
system and compiler.

  - `sles11.1_gnu4.6.2` SuSE 11.1, GNU gcc compiler 4.6.2
  - `cle4.0_pgi12.1.0` Cray Linux Environment 4.0, PGI 12.1.0 compiler
  - `python2.7` a module compiled for python 2.7

---

## Build Scripts

### Create The Build

```bash
smithy new -t http://zlib.net/zlib-1.2.8.tar.gz zlib/1.2.8/sles11.1_gnu4.3.4
```

### Edit and Build the Software (repeat as necessary)

```bash
smithy edit build zlib/1.2.8/sles11.1_gnu4.3.4
# or vim /sw/xk6/zlib/1.2.8/sles11.1_gnu4.3.4/rebuild
smithy build zlib/1.2.8/sles11.1_gnu4.3.4
```

### Create and edit a modulefile

```bash
smithy module create last
smithy module use last
module avail   zlib
module display zlib/1.2.8
module load    zlib/1.2.8
smithy module deploy last
```

???

Demo:
```
rm -rf /sw/xk6/zlib/1.2.8
smithy new -t http://zlib.net/zlib-1.2.8.tar.gz zlib/1.2.8/sles11.1_gnu4.3.4
smithy edit build zlib/1.2.8/sles11.1_gnu4.3.4
smithy build zlib/1.2.8/sles11.1_gnu4.3.4
smithy module use zlib/1.2.8/sles11.1_gnu4.3.4
module avail zlib
module display zlib
smithy module deploy last
```

---

## Formulas

### Create The Build

```bash
smithy formula new --homepage=http://zlib.net/ http://zlib.net/zlib-1.2.8.tar.gz
     create /sw/tools/smithy/formulas/zlib_formula.rb
```

### Build the Software

```bash
vim zlib_formula.rb
smithy formula install zlib
```

### Test and deploy the modulefile

```bash
smithy module use zlib/1.2.8/sles11.1_gnu4.3.4
module avail   zlib
module display zlib/1.2.8
module load    zlib/1.2.8
smithy module deploy last
```

???

Demo

---

template: inverse
# Formula Files

---

## Getting Help

The [smithy manpage](http://anthonydigirolamo.github.io/smithy/smithy.1.html) contains
info on how to invoke smithy.

The [smithyformula manpage](http://anthonydigirolamo.github.io/smithy/smithyformula.5.html)
contains documentation on all Formula DSL methods.

Running `smithy help` will show all subcommands. You can also run `smithy help
formula` and `smithy help formula install` to get help on sub and sub-sub
commands.

Example formulas can be found at:
[https://github.com/AnthonyDiGirolamo/smithy_formulas](https://github.com/AnthonyDiGirolamo/smithy_formulas)

The [homebrew formula library](https://github.com/mxcl/homebrew/tree/master/Library/Formula) can also be useful.

## Ruby Basics

We will cover most of the basics you need for formula writing here but if you
would like more info on ruby you might read through:

[Ruby in Twenty Minutes](http://www.ruby-lang.org/en/documentation/quickstart/)

[Ruby Documentation](http://www.ruby-lang.org/en/documentation/)

---

# Formula Files

.column[
## Structure
Formulas are a domain specific language with the support of a full
programming language. The structure of a formula is the same as a ruby
class.

For example:

    class SubversionFormula < Formula

    end

The file name of a formula should match the class name. The above example would
be `subversion_formula.rb`.
]

.column[
## Formula File Locations
- `$HOME/.smithy/formulas`
- Within the `$SMIHTY_CONFIG` file

  ```
  formula-directories:
  - /sw/tools/smithy/formulas
  ```

- `smithy formula --directories=PATH1,PATH2`
]

---

# What can I put in a formula?

.column[
### define dependencies
`depends_on`

### load or swap modules
`module_commands`

### set environment variables
`ENV["CC"] = "..."`

### apply patches
`patch`

]
.column[
### create files
`File.open("path/to/file"...`

### start the compilation
`system "make"`

### run tests
`system "make check"`

### define a modulefile
`modulefile`
]

---

## The Basics
```ruby
class Python27Formula < Formula
  homepage "www.python.org/"
  url "http://www.python.org/ftp/python/2.7.3/Python-2.7.3.tar.bz2"
  md5 "c57477edd6d18bd9eeca2f21add73919"

  def install
    module_list
    system "./configure --prefix=#{prefix} --enable-shared"
    system "make"
    system "make install"
  end
end
```

Required methods: `homepage`, `url`, `def install`

`def install ... end` defines the method that is run to perform the install

`prefix` is the path to the installation, `"--configure=#{prefix}
--enable-shared"` is an example of string interpolation in ruby.

You could also say `"--configure=" + prefix + " --enable-shared"`

`system` executes a shell command

---

## Adding dependencies
```ruby
class Python27Formula < Formula
  homepage "www.python.org/"
  url "http://www.python.org/ftp/python/2.7.3/Python-2.7.3.tar.bz2"
  md5 "c57477edd6d18bd9eeca2f21add73919"

  depends_on [ "sqlite" ]

  def install
    module_list

    ENV["CPPFLAGS"] = "-I#{sqlite.prefix}/include"
    ENV["LDFLAGS"]  = "-L#{sqlite.prefix}/lib"

    system "./configure --prefix=#{prefix} --enable-shared"
    system "make"
    system "make install"
  end
end
```

`depends_on` accepts an array of strings that represent dependencies

The `sqlite.prefix`, `sqlite.version`, and `sqlite.build_name` are available inside
the `install` method.

`ENV["CPPFLAGS"] = ...` will set the `$CPPFLAGS` environment variable

???

smithy will search the filesystem for an installed sqlite package and load it's
information. the `sqlite` variable will become available and you can use

---

## Loading modules
```ruby
class Python27Formula < Formula
  homepage "www.python.org/"
  url "http://www.python.org/ftp/python/2.7.3/Python-2.7.3.tar.bz2"
  md5 "c57477edd6d18bd9eeca2f21add73919"

  depends_on [ "sqlite" ]

  module_commands [ "unload gcc", "load gcc/4.7.2" ]

  def install
    module_list

    ENV["CPPFLAGS"] = "-I#{sqlite.prefix}/include"
    ENV["LDFLAGS"]  = "-L#{sqlite.prefix}/lib"

    system "./configure --prefix=#{prefix} --enable-shared"
    system "make"
    system "make install"
  end
end
```

`module_commands` accepts an array of strings of module commands that should be
run before any shell commands

---

## Making it More Dynamic

Pass a block instead of an array

```ruby
module_commands do
  ...
end
```

This block will return an array of module commands that depends on the
`build_name`.

```ruby
module_commands do
  commands = [ "unload PrgEnv-gnu PrgEnv-pgi PrgEnv-cray PrgEnv-intel" ]

  case build_name
  when /gnu/
    commands << "load PrgEnv-gnu"
  when /pgi/
    commands << "load PrgEnv-pgi"
  when /intel/
    commands << "load PrgEnv-intel"
  when /cray/
    commands << "load PrgEnv-cray"
  end

  commands << "load acml"
  commands
end
```

---

## Making it More Dynamic

The same can be done with `depends_on`

```ruby
depends_on do
  case build_name
  when /python3.3/
    [ "python/3.3.0", "python_numpy/1.7.1/*python3.3.0*" ]
  when /python2.7/
    [ "python/2.7.3", "python_numpy/1.7.1/*python2.7.3*" ]
  end
end
```

The `when /.../` syntax represents a regular expression

`depends_on` strings can also contain wildcards `\*`

---

.column[
## Helper Methods
#### name
#### version
#### build_name
#### prefix
#### system
#### module_list
#### module_is_available?
#### module_environment_variable
#### patch
]
.column[
## Common Operations
#### Change Working Directory
#### Running Shell Commands
#### Setting Environment Variables
#### Creating Files

The [smithy formula manpage](http://anthonydigirolamo.github.io/smithy/smithyformula.5.html#FORMULA-HELPER-METHODS) has more info.
]

---

## Add a Modulefile

The `modulefile` method expects a string written in ERB syntax. Anything
between `<%= ... %>` will be interpreted as ruby code. The rest will appear in
the resulting modulefile as is.

```ruby
modulefile <<-MODULEFILE.strip_heredoc
  #%Module
  proc ModulesHelp { } {
     puts stderr "<%= @package.name %> <%= @package.version %>"
     puts stderr ""
  }
  module-whatis "<%= @package.name %> <%= @package.version %>"

  set PREFIX <%= @package.prefix %>

  prepend-path PATH            $PREFIX/bin
  prepend-path LD_LIBRARY_PATH $PREFIX/lib
  prepend-path MANPATH         $PREFIX/share/man
MODULEFILE
```

The [modulefile helper methods](http://anthonydigirolamo.github.io/smithy/smithyformula.5.html#MODULEFILE-HELPER-METHODS) section of the manpage has more details.

---

## Add a Modulefile

Support Multiple Builds with `module_build_list`

```ruby
modulefile <<-MODULEFILE.strip_heredoc
  #%Module
  proc ModulesHelp { } {
     puts stderr "<%= @package.name %> <%= @package.version %>"
     puts stderr ""
  }
  module-whatis "<%= @package.name %> <%= @package.version %>"

  <% if @builds.size > 1 %>
  <%= module_build_list @package, @builds %>

  set PREFIX <%= @package.version_directory %>/$BUILD
  <% else %>
  set PREFIX <%= @package.prefix %>
  <% end %>

  prepend-path PATH            $PREFIX/bin
  prepend-path LD_LIBRARY_PATH $PREFIX/lib
  prepend-path MANPATH         $PREFIX/share/man
MODULEFILE
```

---

# Modulefile Tips

- Try to update only the necessary environment variables.

- If a package includes a shell script you must source you can determine what
  needs to be set by dumping `env` to a file before and after then running `diff`
  on the results.

- If it's a library, add LIBRARY and INCLUDE variables to help with compilation:

  ```ruby
  setenv <%= @package.name.upcase %>_DIR $PREFIX
  setenv <%= @package.name.upcase %>_LIB "-L$PREFIX/lib"
  setenv <%= @package.name.upcase %>_INC "-I$PREFIX/include"
  ```

- Modulefiles are written in TCL. You can do anything provided by TCL in
  addition to the modulefile helpers. See these for more info:

  - [Modulefile Manpage](http://modules.sourceforge.net/man/modulefile.html)

  - [Tcl Reference Manual](http://tmml.sourceforge.net/doc/tcl/)

- Good examples include the [hpctoolkit](https://github.com/AnthonyDiGirolamo/smithy_formulas/blob/master/hpctoolkit_formula.rb) and [hdf5](https://github.com/AnthonyDiGirolamo/smithy_formulas/blob/master/hdf5_formula.rb) modulefiles.


---

## Documentation

Smithy can also output simple html documentation for each application via the
`publish` command.

Source material can be written in html or markdown.

```markdown
# Git

Category: Development Tools

Excerpt: Git is an open source version control system designed to handle very large
projects with speed and efficiency, but just as well suited for small personal
repositories. It is especially popular in the open source community.

## Description

**Website:** [http://git-scm.com/](http://git-scm.com/)

Git is an open source version control system designed to handle very large
projects with speed and efficiency...

Git falls in the category of distributed source code management tools ...

## Use

    module load git
```

---

## Documentation

### Description File Locations
.column[

    /sw
    |--- redhat6
    |  |--- subversion
    |  |  |--- 1.6.17
    |  |  |--- 1.7.8
    |  |  `--- description.markdown
    |  `--- git
    |     |--- 1.7.9.5
    |     |--- 1.8.2.1
    |     `--- description.markdown
    |
    `--- xk6
       |--- subversion
       |  |--- 1.6.17
       |  |--- 1.7.8
       |  `--- description.markdown
       `--- git
          |--- 1.7.9.5
          |--- 1.8.2.1
          `--- description.markdown

]
.column[

    /sw
    |--- redhat6
    |  |--- subversion
    |  |  |--- 1.6.17
    |  |  `--- 1.7.8
    |  `--- git
    |     |--- 1.7.9.5
    |     `--- 1.8.2.1
    |--- xk6
    |  |--- subversion
    |  |  |--- 1.6.17
    |  |  `--- 1.7.8
    |  `--- git
    |     |--- 1.7.9.5
    |     `--- 1.8.2.1
    `--- descriptions
       |--- subversion
       |  `--- description.markdown
       `--- git
          `--- description.markdown

With `descriptions-root: /sw/descriptions` in the `$SMIHTY_CONFIG` file.
]

---

## Documentation

### Generating
```
smithy publish git
==> Publishing 1 package
    updated /ccs/proj/ccsstaff/swdesc/data/all/git.html
```

### Output
```html
<h2>Git</h2>

<p>Systems: Lens, Smoky, Titan</p>

<p>Category: Development Tools</p>

<p>Excerpt: Git is an open source version control system designed to handle very
  large pr$jects with speed and efficiency, but just as well suited for small
  personal repositories. It is especially popular in the open source
  community.</p>

<h3>Description</h3>
```

---

## Documentation

### Output
```html
<h2>Git</h2>

<p>Systems: Lens, Smoky, Titan</p>

<p>Category: Development Tools</p>

<p>Excerpt: Git is an open source version control system designed to handle very
  large pr$jects with speed and efficiency, but just as well suited for small
  personal repositories. It is especially popular in the open source
  community.</p>

<h3>Description</h3>
```

### System Names

Defined in the `$SMITHY_CONFIG` file:

```markdown
web-architecture-names:
  xk6: titan
  xk7: titan
  analysis-x64: lens
```

---

template: inverse

# Questions?

---


name: last-page
template: inverse

# That's all folks!

.footnote[Slideshow created using [remark](http://github.com/gnab/remark).]
    </textarea>
    <script src="remark-0.5.5.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      var hljs = remark.highlighter.engine;
    </script>
    <script src="js/remark.language.js" type="text/javascript"></script>
    <script type="text/javascript">
      var slideshow = remark.create({
          ratio: '16:9',
          highlightStyle: 'github',
          highlightLanguage: 'ruby'
        }) ;
    </script>
  </body>
</html>

