<a name="top"></a>
<h2>Contents</h2>

<ul>
<% @descriptions.each do |p| %>
  <li>
    <a href="#<%= p.name.downcase %>"><%= p.name.downcase %></a>
  </li>
<% end %>
</ul>

<% @descriptions.each do |p| %>
<hr />

<a name="<%= p.name.downcase %>"></a>
<%= p.content %>

<p><a href="#top">(back to top)</a></p>
<% end %>
