<!-- packages = <%= @packages.join(", ") %> -->

<a name="top"></a>
<h2>Contents</h2>

<ul>
<% @descriptions.each do |p| %>
  <li>
    <a href="<%= p.name.downcase %>.html"><%= p.name.downcase %></a>
  </li>
<% end %>
</ul>
