<h1>Git</h1>

<p> Category: Program Dev-Tools

<h2>Description</h2>

<p> <a href="http://git.or.cz/">Git</a> is an open source version
control system designed to handle very large projects with speed and
efficiency, but just as well suited for small personal repositories;
it is especially popular in the open source community, serving as a
development platform for projects like the Linux Kernel, Ruby on
Rails, WINE or X.org.

<p>Git falls in the category of distributed source code management tools,
similar to e.g. Mercurial or Bazaar. Every Git working directory is a
full-fledged repository with complete history and full revision
tracking capabilities, not dependent on network access or a central
server. Still, Git stays extremely fast and space efficient.

<h2>Use</h2>

<pre>
module avail git
module load git
git
</pre>


<h2>Support</h2><p>This package has the following support level : Unsupported
<br>
<h2>Available Versions</h2>

<table class="inline">
<tr>
	<th rowspan = "2">Version</th>
	<th colspan = "6">Available Builds</th> </tr><tr>
	<th>pgi</th>
	<th>pathscale</th>
	<th>gnu</th>
	<th>intel</th>
	<th>cray</th>
	<th>Other</th>
<tr>
	<th>1.7.8</th>
	<td></td>
	<td></td>
	<td><table class="inline"><tr><td class="hidden">gnu4.3.4</td><td class="hidden2">?</td></tr></table></td>
	<td></td>
	<td></td>
	<td><table class="inline"></table></td>
</tr>

</table>
